h1{
    color: red;
}
/* #home-intro{
    text-align: center;
    /* border: 3px;
    border-color: black;
    border-style: solid; 

    border: 3px solid black;
} */
 #intro{
    text-align: center;
    border: 3px solid blue;
 }
 #intro:hover{
    background-color: black;
 }
 #p1{
     color: aqua;
 }
 #p2{
    color: blueviolet;
 }
